@mixin center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container{
  @include center;
  width: 450px;
  height: 600px;
  background-color: rgb(56, 56, 56);
  box-shadow: 0 10px 30px rgba(46, 46, 46, 0.733);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-light{
  border: 0;
  color: rgb(204, 204, 204);
  background: #1d1d1dab;
  font-size: 18px;
  line-height: 1;
  padding: 10px;
  border-radius: 5px;
  &:hover{
    background: #222222;
  }
}